################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerSolutions/Problem11/obj
/ProjectEulerSolutions/Problem11/bin
/ProjectEulerSolutions/Problem10/obj
/ProjectEulerSolutions/Problem10/bin
/ProjectEulerSolutions/Problem12/obj/Debug
/ProjectEulerSolutions/Problem12/bin/Debug
/ProjectEulerSolutions/Problem9/obj
/ProjectEulerSolutions/Problem9/bin/Debug
/ProjectEulerSolutions/Problem12/obj/Release
/ProjectEulerSolutions/Problem13/bin/Debug
/ProjectEulerSolutions/Problem13/obj
/ProjectEulerSolutions/Problem14/bin
/ProjectEulerSolutions/Problem14/obj
/ProjectEulerSolutions/Problem15/obj/Debug
/ProjectEulerSolutions/Problem16/bin/Debug
/ProjectEulerSolutions/Problem16/obj/Debug
/ProjectEulerSolutions/Problem17/obj/Debug
/ProjectEulerSolutions/Problem15/bin/Debug
/ProjectEulerSolutions/Problem17/bin/Debug
/ProjectEulerSolutions/Problem18/bin/Debug
/ProjectEulerSolutions/Problem18/obj/Debug
/ProjectEulerSolutions/Problem19/bin/Debug
/ProjectEulerSolutions/Problem19/obj/Debug
/ProjectEulerSolutions/Problem67/bin/Debug
/ProjectEulerSolutions/Problem67/obj/Debug
/ProjectEulerSolutions/Problem20/bin/Debug
/ProjectEulerSolutions/Problem20/obj/Debug
/ProjectEulerSolutions/Problem21/bin/Debug
/ProjectEulerSolutions/Problem21/obj/Debug
/ProjectEulerSolutions/Problem22/bin/Debug
/ProjectEulerSolutions/Problem22/obj/Debug
/ProjectEulerSolutions/Problem23/bin/Debug
/ProjectEulerSolutions/Problem23/obj/Debug
/ProjectEulerSolutions/Problem24/bin/Debug
/ProjectEulerSolutions/Problem24/obj/Debug
/ProjectEulerSolutions/Problem25/bin/Debug
/ProjectEulerSolutions/Problem25/obj/Debug
/ProjectEulerSolutions/Problem26/bin/Debug
/ProjectEulerSolutions/Problem26/obj/Debug
