################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerSolutions/Problem11/obj
/ProjectEulerSolutions/Problem11/bin
/ProjectEulerSolutions/Problem10/obj
/ProjectEulerSolutions/Problem10/bin
/ProjectEulerSolutions/Problem12/obj/Debug
/ProjectEulerSolutions/Problem12/bin/Debug
/ProjectEulerSolutions/Problem9/obj
/ProjectEulerSolutions/Problem9/bin/Debug
