################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerSolutions/Problem11/obj
/ProjectEulerSolutions/Problem11/bin
/ProjectEulerSolutions/Problem10/obj
/ProjectEulerSolutions/Problem10/bin
/ProjectEulerSolutions/Problem12/obj/Debug
/ProjectEulerSolutions/Problem12/bin/Debug
/ProjectEulerSolutions/Problem9/obj
/ProjectEulerSolutions/Problem9/bin/Debug
/ProjectEulerSolutions/Problem12/obj/Release
/ProjectEulerSolutions/Problem13/bin/Debug
/ProjectEulerSolutions/Problem13/obj
/ProjectEulerSolutions/Problem14/bin
/ProjectEulerSolutions/Problem14/obj
/ProjectEulerSolutions/Problem15/obj/Debug
/ProjectEulerSolutions/Problem16/bin/Debug
/ProjectEulerSolutions/Problem16/obj/Debug
/ProjectEulerSolutions/Problem17/obj/Debug
